@import '../../config/variables.scss';

.table {
  box-shadow: $box-shadow;
  background-color: $white;
  width: 100%;
  border-spacing: 0;
  border-radius: 0;
}

.table-head {
  background: $primary-color;
  padding-block: 1.3rem;
  color: $white;
  box-shadow: $box-shadow;

  &-col {
    padding: 1rem;
    border-bottom: 1px solid $light-gray;
  }
}

.table-row {
  border-bottom: 2px solid $light-gray;

  &:hover {
    background: $secondary-color;

    td {
      color: $white;
    }
  }

  & > .table-col:first-of-type {
    font-weight: 700;
  }
}

.table-col {
  padding-block: 1rem;
  font-weight: 400;
}

.table-text-fallback {
  font-weight: 700;
  border: none;
}
