@import './config//variables.scss';
body {
	height: calc(100vh - 16px);
	background: linear-gradient(to bottom, $gradient-start-color, $gradient-end-color);

}
#root {
	text-align: center;
	padding: 2rem;
}
